.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
}
.head p + p {
  padding-top: 8px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 10px;
}
a {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
  background-color: rgb(0, 128, 255);
  color: white;
}
