h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
form * {
  width: 70vw;
}
