.card {
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10px;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  width: 90%;
  height: 500px;
  box-shadow: 0px 0px 10px rgb(173, 172, 172);
  margin-block: 40px;
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
:host {
  display: block;
  flex: 0 0 30%;
}
img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}
.desc {
  margin-top: 10px;
  margin-left: 15px;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.difficulte {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.diff-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.debutant.difficulte {
  background-color: rgba(0, 128, 0, 0.2);
  color: green;
}

.debutant.difficulte .diff-circle {
  background-color: green;
}

.intermediaire.difficulte {
  background-color: rgba(255, 255, 0, 0.2);
  color: orange;
}

.intermediaire.difficulte .diff-circle {
  background-color: orange;
}

.avance.difficulte {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

.avance.difficulte .diff-circle {
  background-color: red;
}
