h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
  color: #2563eb;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #c0bebe;
  width: 90vw;
  max-width: 900px;
  box-shadow: 2px 5px 10px rgba(179, 179, 179, 0.6);
  height: 150px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 4px 10px 20px rgba(179, 179, 179, 0.8);
}

.container img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  object-fit: cover;
}

.first-line,
.second-line {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.third-line {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-line a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.third-line a:hover {
  transform: translateY(-2px);
}
.modif {
  background-color: #2563eb;
}

.supp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: red;
}
.title {
  display: flex;
  margin: 20px 0px 30px 0px;
  justify-content: center;
  align-items: center;
  gap: 400px;
}
.title button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 8px 0;
  background-color: #2563eb;
  text-decoration: none;
  color: #fff;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
